<form [formGroup]="GrupoForm" (ngSubmit)="submit()">
    <div class="p-2">
        <label>Grupo AD</label>
        <input type="text" class="form-control" formControlName="nomeGrupoAd">
    </div>

    <div class="p-2">
        <label>Perfil</label>
        <select class="form-select" formControlName="codigoPerfil">
            <option></option>
            <option *ngFor="let item of ResponsePerfil" value="{{item.codigoPerfil}}">
                {{item.nomePerfil}}</option>
        </select>
    </div>

    <div class="p-2">
        <label>Área</label>
        <select class="form-select" formControlName="codigoAreaGrupoAd">
            <option></option>
            <option *ngFor="let item of ResponseArea" value="{{item.codigoArea}}">{{item.nomeArea}} -
                {{item.siglaArea}}
            </option>
        </select>
    </div>



    <button type="submit" class="btn btn-warning mt-3" style="margin-right: 7px;">Cadastrar</button>
    <a routerLink="/controle/editar/grupo-ad" class="btn btn-warning mt-3">Ações</a>
</form>