<form [formGroup]="EnviaForm" (ngSubmit)="submit()">
    <input type="hidden" class="form-control" formControlName="mensagem">
    <input type="hidden" class="form-control" formControlName="codigoArea">
    <input type="hidden" class="form-control" formControlName="alerta">
    <input type="hidden" class="form-control" formControlName="prioridade">
    <input type="hidden" class="form-control" formControlName="cor">
    <input type="hidden" class="form-control" formControlName="painelEnvio">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Enviar mensagem
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Aprovação de envio 🅰️</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tem certeza que vai executar envio de mensagens?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-warning">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</form>