<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="../../../assets/imgs/logo.png" width="120"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- Add ms-auto class here -->

                <ng-container *ngFor="let linha of menus">
                    <ng-container *ngIf="linha.urlMenu == 'paineis'; else linkMenuParans">
                        <li class="nav-item">
                            <a routerLink="/{{linha.urlMenu}}"
                                class="menuLink p-3 link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover"
                                aria-disabled="true">{{ linha.nomeMenu }}</a>
                        </li>
                    </ng-container>
                    <ng-template #linkMenuParans>
                        <li class="nav-item">
                            <a routerLink="/{{linha.urlMenu}}/opcoes/{{linha.codigoMenu}}"
                                class="menuLink p-3 link-dark link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover"
                                aria-disabled="true">{{ linha.nomeMenu }}</a>
                        </li>
                    </ng-template>
                </ng-container>

            </ul>
        </div>
    </div>
</nav>