<!-- início do preloader -->
<div id="preloader" *ngIf="loading">
    <div class="inner">
        <!-- HTML DA ANIMAÇÃO MUITO LOUCA DO SEU PRELOADER! -->
        <div class="bolas">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<div class="pai-login">
    <div class="container containerLogin text-center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 contorno">
                <app-login-form (onSubmit)="Login($event)"></app-login-form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>