<app-navbar></app-navbar>

<div class="container" style="margin-top: 100px;">
    <app-cred></app-cred>

    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="td-sigla">Codigo Menu</th>
                    <th scope="col" class="td-sigla">Codigo Perfil</th>
                    <th scope="col" class="td-sigla">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of MenuPerfil">
                    <td>
                        <select class="form-select" [(ngModel)]="item.codigoMenu" disabled>
                            <option *ngFor="let linha of Menu" [value]="linha.codigoMenu">{{ linha.nomeMenu }}
                            </option>
                        </select>
                    </td>

                    <td>
                        <select class="form-select" [(ngModel)]="item.codigoPerfil" disabled>
                            <option *ngFor="let linha of Perfil" [value]="linha.codigoPerfil">{{ linha.nomePerfil
                                }}
                            </option>
                        </select>
                    </td>

                    <td>
                        <!-- <button type="button" class="btn btn-warning m-1" (click)="cancelEdit(item)">Cancelar</button> -->
                        <button type="button" class="btn btn-danger m-1" (click)="deleteItem(item)">Excluir</button>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>